html {
    background-image: url(../../img/bgm.jpg);
    background-size: cover;
    background-attachment: fixed;
}

body,
html {
    height: 100%;
    width: 100%;
    position: relative;
}

h1 {
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 10px;
}

h2 {
    color: #FFFFCC;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
}

.nav {
    width: 20%;
    /* margin-right: 15px; */
    padding: 30px 30px;
    text-align: center;
}

.nav a {
    display: block;
    /* color: #ffdb11; */
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 16px;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(252, 122, 0)), to(rgb(228, 253, 4)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav a:hover {
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(0, 252, 76)), to(rgb(4, 70, 253)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav a:active {
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(0, 252, 76)), to(rgb(4, 70, 253)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav .logo {
    margin-top: 30px;
    /* width: 100%; */
}

.nav .navlist {
    padding: 30px 0;
}

.nav .navlist audio {
    width: 240px;
    height: 15px;
}

.main-content {
    width: 80%;
    overflow: auto;
}

.main-content .title {
    font-family: kids-font;
    font-size: 60px;
    padding: 40px 0;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(252, 122, 0)), to(rgb(228, 253, 4)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-content .title:hover {
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(228, 253, 4)), to(rgb(252, 122, 0)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    transition: all 0.3s;
    cursor: pointer;
}

.main-content .shenlong img:hover {
    transform: scale(1.03);
}

.main-content .shenlong img {
    height: 385px;
    width: 700px;
    z-index: 1;
}

.main-content .qilongzhu img {
    margin-top: 20px;
    margin-left: 100px;
    height: 198px;
    width: 360px;
}

.main-content .db,
.main-content .dbz,
.main-content .dbgt,
.main-content .dbchao {
    display: none;
}

/* 4X3图片大小设置 */

.main-content .fs .db-list img {
    height: 270px;
}

/* 3X4图片大小设置 */

.main-content .sf .db-list img {
    height: 320px;
}

.main-content .db-list {
    margin-bottom: 40px;
    margin-right: 30px;
    display: inline-block;
}

.main-content .fs .db-list {
    width: 360px;
}

.main-content .sf .db-list {
    width: 260px;
}